In [7]:
import pandas as pd
import numpy as np
from agent_based_model import *
%load_ext autoreload
%autoreload 2

In [13]:
infected_init_dic = {'H1N1': 10, 'H3N2': 0, 'B': 0}
alpha_dic = {'H1N1': 0.78, 'H3N2': 0.74, 'B': 0.6} # H1N1 was 0.78
lmbd = 0.2 # was 0.3
num_runs = 1
days = range(1, 2)
strains_keys = ['H1N1', 'H3N2', 'B']

# in data folder schould be 3 files: 'people.txt', 'households.txt', 'schools.json'
# TODO problem with saving files -- solve issue with path
#root = 'C:/'
#user = 'EGuseva/'
#files = 'crazy_lmbd/'
data_folder = 'sampled_200k/'
#data_path = root + user + files + 'data/' + data_folder
#results_dir = root + user + files + 'aresults/' + data_folder
#n='new_crazy_lmbd'
#es='results'
#data_path=f'C:/EGuseva/{n}/data/sampled_200k/'
#results_dir = f'C:/EGuseva/{n}/{es}/sampled_200k/'

data_path = 'sampled_200k/'
results_dir = 'sampled_200k_res/'

if not os.path.exists(results_dir):
    os.makedirs(results_dir)
    print("Directory created successfully!")
else:
    print("Directory already exists!")
# sys.exit()

data, households, dict_school_id = load_data(data_path)
data, households, dict_school_id = preprocess_data(
    data, households, dict_school_id)
dict_school_len = [len(dict_school_id[i])
                   for i in dict_school_id.keys()]
data = set_initial_values(data, strains_keys, alpha_dic)

Directory created successfully!

In [14]:
data

,sp_id,sp_hh_id,age,sex,work_id,susceptible_H1N1,susceptible_H3N2,susceptible_B,infected,illness_day
179978,179979,47442,49,M,40060,1,1,1,0,0
175345,175346,30794,43,M,41174,1,1,1,0,0
100919,100920,6250,11,F,9527,1,1,1,0,0
58678,58679,35852,58,F,38688,1,0,1,0,0
129730,129731,36114,41,M,31658,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
73303,73304,5375,35,M,54683,1,1,1,0,0
154855,154856,41710,38,M,62382,1,1,1,0,0
158951,158952,16154,54,M,55002,1,1,1,0,0
78314,78315,35341,49,F,22832,1,1,1,0,0
25979,25980,29538,86,F,58264,1,1,0,0,0

In [16]:
results_dic, number_seed, lmbd, SEIRb_day = main_function(
                0, data_folder=data_folder, dataset=data,
              dict_school_id_all=dict_school_id, lmbd=lmbd, 
              infected_init_dic=infected_init_dic,
              days=days, dict_school_len=dict_school_len)

3203 170483

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 10.64it/s]

All inf:  10
day 1, H1N1: new I 10 (all I 10, all S 155987), beta: 0.00000641
day 1, H3N2: new I 0 (all I 0, all S 148000), beta: nan
day 1, B: new I 0 (all I 0, all S 120000), beta: nan

Proc MainProcess, Day 1, time elapsed: 0.7285785999993095 sec

In [17]:
SEIRb_day

,S_H1N1,E_H1N1,I_H1N1,R_H1N1,beta_H1N1,S_H3N2,E_H3N2,I_H3N2,R_H3N2,beta_H3N2,S_B,E_B,I_B,R_B,beta_B
1,155987.0,3.0,10.0,44000.0,0.000006,148000.0,0.0,0.0,51996.0,0.0,120000.0,0.0,0.0,79996.0,0.0